# dependencies
/node_modules

# compiled
/built

# environments
*.env

# credentials
credentials.json
*.pem

# database
.db
*.db

# testing
/coverage

# logs
.logs
*.log
*-audit.json

# misc
package-lock.json
.DS_Store
.vscode*