/* Log container */
.log { min-width: 512px; }

/* Filter buttons */
.filter-level:disabled {
  background: #111;
  outline: solid;
}

/* Log lines */
.log > .line:hover { background-color: #112; }
.log .log-time { color: #CBA; }
.log .log-label {
  font-weight: bold;
  text-decoration: underline;
  margin-inline-end: 0.5em;
}

.log .log-msg, .log .log-label { white-space: initial; }

.log .log-time, .log .log-level, .log .log-stack {
  font-family: monospace;
  font-size: 0.9em;
}
@media screen and (max-width: 767px) {
  .log .log-msg, .log .log-time,
  .log .log-level, .log .log-label,
  .log .log-stack {
    font-size: 0.8em;
  }
}

/* Error stack */
.log .log-stack {
  margin-left: 2em;
  white-space: pre-wrap;
}

/* Toggle show/hide long log lines (Details/Summary styling) */
.log.collapse > label.row {
  color: inherit;
  background: inherit;
  border: initial;
}
.log.collapse > label > .log-label-container::before {
  display: inline-block;
  width: 1.25em;
  height: auto;
  content: '▶ ';
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 38 28' fill='white'%3E%3Cpath d='M0 28l0-24 20 12z'%3E%3C/path%3E%3C/svg%3E");
}
.log.collapse > :checked + label > .log-label-container::before {
  content: '▼ ';
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 38 28' fill='white'%3E%3Cpath d='M0 8l24 0-12 20z'%3E%3C/path%3E%3C/svg%3E");
}

/* Text Colors */
.log-level { color: #AAA; }
.gray { color: #AAA; }
.red { color: #F44; }
.green { color: #0A0; }
.yellow { color: #ED0; }
.blue { color: #55F; }
.magenta { color: #F5F; }
.cyan { color: #5CC; }
.white { color: #DDD; }
.black { color: #888; }