:root {
  --universal-margin: 0.5rem;
}

/* Page styling */
html, body, #siteContainer {
  height: 100%;
  width: 100%;
  min-width: 300px;
}

html { overflow-x: hidden; }

#siteContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#siteContainer > header,
#siteContainer > footer {
  flex-shrink: 0;
}

#pageContainer {
  max-width: 1024px;
  padding: 1rem;
  flex-grow: 1;
  align-self: center;
  width: calc(100% - 2rem);
}
@media screen and (max-width: 767px) {
  #pageContainer { 
    padding: 0.25rem;
    width: calc(100% - 0.5rem);
  }
}

/* Fix footer styling */
footer > .row {
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  footer p { font-size: 0.8em; }
}
@media screen and (min-width: 767px) {
  .visible-sm { display: none; }
}

/* Fix table styling */
table:not(.horizontal) thead, table:not(.horizontal) tbody {
  max-width: 99%;
}
table:not(.horizontal) thead { position: sticky; }
tr.tableRow { cursor: pointer; }
td { overflow-wrap: anywhere; }

/* Fix 'buttonInput' mixin style */
.button-group > .input-group { display: flex; }
.button-input > .button-group > input:not([type="button"]):not([type="submit"]):not([type="reset"]),
.button-input > .button-group > textarea, .button-input > .button-group > select {
  flex-grow: 1;
  margin: 0;
}
.button-input > .button-group > input[type="button"],
.button-input > .button-group > input[type="submit"],
.button-input > .button-group > input[type="reset"],
.button-input > .button-group > button {
  max-width: max-content;
}
@media screen and (max-width: 767px) {
  .button-input > .button-group > input[type="button"],
  .button-input > .button-group > input[type="submit"],
  .button-input > .button-group > input[type="reset"],
  .button-input > .button-group > button {
    max-width: initial;
  }
}

/* Fix lone card styling */
.card.center { margin: auto; }

/* Fix button styling */
button, .button, [role="button"],
[type="button"], [type="submit"], [type="reset"] {
  text-align: center;
}

/* Allow header alignment */
header { display: flex; }
header > .spacer { flex-grow: 1; }

/* Toggle show/hide password button */
.input-group, .button-group { position: relative; }
button.toggle-password.small {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  width: 3rem;
  height: 1.5rem;
  padding: 0px;
}

/* Style invalid input fields */
input.invalid:not([type="button"]):not([type="submit"]):not([type="reset"]),
input.invalid:not([type="button"]):not([type="submit"]):not([type="reset"]):focus,
input.invalid:not([type="button"]):not([type="submit"]):not([type="reset"]):focus-visible,
textarea.invalid, textarea.invalid:focus, textarea.invalid:focus-visible, select.invalid,
input:invalid:not([type="button"]):not([type="submit"]):not([type="reset"]),
input:invalid:not([type="button"]):not([type="submit"]):not([type="reset"]):focus,
input:invalid:not([type="button"]):not([type="submit"]):not([type="reset"]):focus-visible,
textarea:invalid, textarea:invalid:focus, textarea:invalid:focus-visible, select:invalid {
  border-color: #d32f2f;
  outline-color: #d32f2f;
  box-shadow: none;
}

/* Random styles */
.valid { border-color: #d32f2f; box-shadow: none; }
.cors-regex { color: lightcoral; }
.cors-array { color: lightskyblue; }
.align-self-center { align-self: center;  }
.dim { opacity: 0.6;}
.small { font-size: 0.9em; font-weight: 300; }