/* Base site layout */
#siteContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#siteContainer > header,
#siteContainer > footer {
  flex-shrink: 0;
}

#pageContainer {
  min-width: 300px;
  max-width: 1024px;
  padding: 1rem;
  flex-grow: 1;
  align-self: center;
  width: calc(100% - 2rem);
}
@media screen and (max-width: 767px) {
  #pageContainer { 
    padding: 0.25rem;
    width: calc(100% - 0.5rem);
  }
}


/* Toggle show/hide password button */
.input-group, .button-group { position: relative; }
button.toggle-password.small {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  width: 3rem;
  height: 1.5rem;
  padding: 0px;
}

/* CSS Grid styling (for form.mixin checkboxes) */
fieldset > .row { align-items: flex-end; }
.grid {
  display: grid;
  justify-items: center;
  align-items: center;
}
.grid-right { justify-self: end; }

/* Format API Token cell in user profile */
.token-cell { position: relative; }
.token-cell > .button-group {
  margin: 0; 
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .token-cell { padding-bottom: 3rem; }
  .token-cell > .button-group {
    flex-direction: row;
    top: auto;
    left: 0;
  }
}

/* Color specialized CORs values */
.cors-regex, .cors-array { color: lightskyblue; }

/* Additional generic styling */
.top-right { position: absolute; top: 0; right: 0; }
.relative { position: relative; }
.center { text-align: center; }
.autoMargin { margin: auto; }
.align-self-center { align-self: center; }
.dim { opacity: 0.6;}
.solid { opacity: 1.0 !important; }
.small { font-size: 0.9em; font-weight: 300; }
.marginX { margin-left: 1em; margin-right: 1em; }