:root {
  --universal-margin: 0.5rem;
}

body {
  height: 100%;
  width: 100%;
}

#pageContainer {
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
}

/* Fix table styling */
table:not(.horizontal) thead, table:not(.horizontal) tbody {
  max-width: 99%;
}

/* Fix form button styling */
form .button {
  background-color: var(--input-back-color);
}

/* Style Swap section */
input#swapId { width: 4.5rem; }
.button-group > .input-group { display: flex; }