extends ../internal/views/base

block body
  #siteContainer
    header
      span.logo= appTitle
      span.spacer
      span.logo
        a(href=urls.gui.root.login title="Login")
          img(src="/images/logo.png" alt=appTitle width="32px")
    
    #pageContainer
      p Hello and welcome to my server, please enjoy this page.