extends base

include form.mixins.pug

block scripts
  script(src="/javascripts/model.client.js")

block content
  form#editForm(action=postURL method="POST")
    fieldset
      legend.row
        h2 Edit
        input.small.button.button-group#clearForm(type="reset" value="Clear")

      .row
        .col-sm
          +formInput('id', 'id', 'ID', 'button-group')
        .col-sm
          +buttonInput('swapId', 'id', 'Swap', 'Swap ID')

      .row
        each val, key in schema
          .col-sm
            +formInput(key, val)

      +buttonRow(buttons)
        
  hr

  table.striped.hoverable
    caption= title + " Table"
    thead
      tr
        each val in tableFields
          th= val
    tbody
      each entry in data
        tr.tableRow
          each val, key in tableFields
            td(data-label=val data-key=key)= entry[key]
