extends base

include form.mixins.pug

block scripts
  script(src="/javascripts/users.client.js")
  script(src="/javascripts/togglePassword.js")

block content
  form#editForm(action=postURL method="POST")
    fieldset
      legend.row
        h2 Edit
        input.small.button.button-group#clearForm(type="reset" value="Clear")

      .row
        .col-sm
          +formInput('username', 'text', tableFields.username, '', tooltips.username)
          +formInput('password', 'password', tableFields.password, '', tooltips.password)
          +formInput('confirm', 'password', tableFields.confirm, '', tooltips.confirm)
        
        .col-sm
          +buttonInput('token', 'readonly', 'Regen', tableFields.token, tooltips.token)
          +formInput('id', 'hidden')
          +checkboxes('access', accessLevels, tableFields.access)

      .row: .col-sm
        +formInput('cors', '2', tableFields.cors, '', tooltips.cors)

      +buttonRow(buttons)
      
        
  hr

  table.striped.hoverable
    caption Users
    thead
      tr
        each val in tableFields
          th= val
    tbody
      each user in users
        tr.tableRow(id=user.id)
          each val, key in tableFields
            -var rowCls = key !== 'cors' ? '' : user.regExCors ? 'cors-regex' : user.arrayCors ? 'cors-array' : ''
            td(data-label=val data-key=key class=rowCls)= user[key]