extends base

include form.mixins.pug

block scripts
  script(src="/javascripts/users.client.js")

block content
  form#editForm(action=postURL method="POST")
    fieldset
      legend.row
        h2 Edit
        input.small.button.button-group#clearForm(type="reset" value="Clear")

      .row
        .col-sm
          +formInput('username', 'text', tableFields.username)
          +formInput('password', 'password', tableFields.password)
          +formInput('confirm', 'password', tableFields.confirm)
        
        .col-sm
          +buttonInput('token', 'readonly', 'Regen', tableFields.token)
          +formInput('id', 'hidden')
          +checkboxes('access', accessLevels, tableFields.access)

      .row: .col-sm
        +formInput('cors', '2', tableFields.cors)

      +buttonRow(buttons)
      
        
  hr

  table.striped.hoverable
    caption Users
    thead
      tr
        each val in tableFields
          th= val
    tbody
      each user in users
        tr.tableRow(id=user.id)
          each val, key in tableFields
            td(data-label=val data-key=key)= user[key]