if footerData && (footerData.full || footerData.short)
  footer
    .row
      if footerData.full
        each sect, idx in footerData.full
          if idx
            p.col.hidden-sm |
          p.col.hidden-sm !{sect}
      if footerData.short
        each sect, idx in footerData.short
          p.col.responsive-margin.responsive-padding.visible-sm.hidden !{sect}