extends base

block head
  block header

block body
  #siteContainer
    include ../../views/components/header.pug
    
    #pageContainer
      block content
    
    include ../../views/components/footer.pug
    
    script(
      src=urls.jquery.src,
      integrity=urls.jquery.integrity,
      crossorigin="anonymous"
    )
    block scripts