extends components/modelBase

block form
  .row
    .col-sm#primary-key
      +formInput(idKey, canWrite && !canRead ? 'id' : 'readonly', limits[idKey], defaults[idKey], tableFields[idKey], 'button-group')
    if canWrite
      .col-sm
        +buttonInput('swapId', 'id', 'Swap', limits[idKey], defaults[idKey])
    if !searchData
      +pageData(page, size)

  .row
    each val, key in schema
      .col-sm
        +formInput(key, val, limits[key], searchData ? searchData[key] : defaults[key], tableFields[key])


block table
  each entry in data
    tr.tableRow
      each val, key in tableFields
        td(data-label=val data-key=key)= entry[key] && entry[key].toLocaleString()