extends components/modelBase

block form
  .row
    .col-sm#primary-key
      +formInput(idKey, canWrite && !canRead ? 'id' : 'readonly', schema[idKey].limits, schema[idKey].default, tableFields[idKey], 'button-group')
    if canWrite
      .col-sm
        +buttonInput('swapId', 'id', 'Swap', schema[idKey].limits, schema[idKey].default, swapURL)
    if !searchData
      +pageData(page, size)

  .row
    each val, key in schema
      if val.html
        .col-sm
          +formInput(key, val.html, val.limits, searchData ? searchData[key] : val.default, tableFields[key])


block table
  each entry in data
    tr.tableRow
      each val, key in tableFields
        td(data-label=val data-key=key)= entry[key] && entry[key].toLocaleString()