extends components/container

block content
  .container
    h2.responsive-margin
      span= header
      if showStack && error.status 
        span :
        i.small &nbsp;#{error.status}
    p.responsive-padding= error.message
    if showStack
      pre= error.stack
    a.button(href="javascript:history.back()") Back
