extends components/container

include components/log.mixins.pug

block header
  link(rel='stylesheet', href='/stylesheets/logs.css')

block scripts
  script(src="/javascripts/logs.client.js")

block content
  h1= title

  .button-group
    label.center Filter
    input.bordered.filter-level(type="button" value="all")
    each level in levels
      input.bordered.filter-level(type="button" class=(colors[level] || '') value=level)

  pre.container.log.collapse
    each line, idx in log
      if line
        +logHeader(line, idx)
        +logBody(line)
        