extends components/container

include components/log.mixins.pug

block header
  link(rel='stylesheet', href='/stylesheets/logs.css')

block scripts
  script(src="/javascripts/logs.client.js")

block content
  .row.nowrap
    if prev
      .col: a.button.small(href=baseURL+prev) PREV
    .col-sm: h2.center= title
    if next
      .col: a.button.small(href=baseURL+next) NEXT

  .button-group
    label.center Filter
    input.bordered.filter-level(type="button" value="all")
    each level in levels
      input.bordered.filter-level(type="button" class=(colors[level] || '') value=level)

  pre.container.log.collapse
    each line, idx in log
      if line
        +logHeader(line, idx)
        +logBody(line)
        