extends components/modelBase

block form
  .row
    .col-sm#primary-key
      +formInput(idKey, canWrite && !canRead ? 'id' : 'readonly', schema[idKey].limits, schema[idKey].default, tableFields[idKey], 'button-group')
    if canWrite
      .col-sm
        +buttonInput('swapId', 'id', ['Swap'], schema[idKey].limits, schema[idKey].default, swapURL)
    if !searchData
      +pageData(page, size)

  .row
    each val, key in tableFields
      if schema[key].formEffect === effect.hidden
        span
          +formInput(key, 'hidden', schema[key].limits, searchData ? searchData[key] : schema[key].default, val)
          
      else if schema[key].html && schema[key].formEffect !== effect.ignore
        .col-sm
          +formInput(
            key, schema[key].html, schema[key].limits,
            searchData ? searchData[key] : schema[key].formEffect !== effect.hideDefault ? schema[key].default : null,
            val, null,
            schema[key].description,
            schema[key].formEffect === effect.readonly
          )


block table
  each entry in data
    tr.tableRow
      each val, key in tableFields
        if schema[key].typeBase == 'html'
          td(data-label=val data-key=key)!= entry[key] && entry[key].toLocaleString()
        else
          td(data-label=val data-key=key)= entry[key] && entry[key].toLocaleString()