extends components/modelBase

block form
  .row
    .col-sm#primary-key
      +formInput(idKey, canWrite && !canRead ? 'id' : 'readonly', schema[idKey].limits, schema[idKey].default, tableFields[idKey], 'button-group')
    if canWrite
      .col-sm
        +buttonInput('swapId', 'id', 'Swap', schema[idKey].limits, schema[idKey].default, swapURL)
    if !searchData
      +pageData(page, size)

  .row
    each val, key in tableFields
      if schema[key].html
        .col-sm
          +formInput(key, schema[key].html, schema[key].limits, searchData ? searchData[key] : schema[key].default, val)


block table
  each entry in data
    tr.tableRow
      each val, key in tableFields
        if schema[key].isHTML
          td(data-label=val data-key=key)!= entry[key] && entry[key].toLocaleString()
        else
          td(data-label=val data-key=key)= entry[key] && entry[key].toLocaleString()