extends components/container

include components/form.mixins.pug

block scripts
  script(src="/javascripts/settings.client.js")
  script(src="/javascripts/password.client.js")

block content
  form.plain.relative(action=postURL method="POST")
    p.top-right
      span User IP: 
      i.small= userIP
    fieldset
      legend.row.baseline
        h2 Admin Settings
        input.small.button.button-group#revertForm(type="reset" value="Revert")

      .container: .row
        each formCol in formSettings
          .col-sm
            each entry, key in formCol
              +formInput(key, entry.html.type, entry.html.limits, settings[key], key, '', entry.tooltip, entry.html.readonly)
        if csrfToken
          span: +formInput('_csrf', 'hidden', null, csrfToken)
          
      .center
        br
        i.small.dim NOTE: Settings will only take effect after restart

      +buttonRow(buttons, { Update: 'tertiary', Undo: 'tertiary' + (canUndo ? '' : ' disabled'), Default: 'secondary', Restart: 'secondary' })